<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <logger name="org.apache" level="INFO"/>
    <logger name="kafka" level="INFO"/>
    <logger name="kafka.network.Processor" level="OFF"/> <!-- To silence expected IOExceptions on consumer shutdown -->
    <logger name="org.apache.zookeeper.jmx" level="OFF"/>  <!-- To silence expected JMX errors on ZK shutdown -->
    <logger name="kafka.server.KafkaApis"
            level="OFF"/> <!-- To silence expected occasional AdminOperationException on startup -->
    <logger name="org.apache.kafka.clients.NetworkClient"
            level="OFF"/> <!-- Silencing warnings when writing to not yet initialized topic -->
    <logger name="org.I0Itec" level="OFF"/>
    <logger name="akka.kafka.default-dispatcher" level="OFF"/>
    <logger name="com.kafkaanalyzer.input" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>